<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Formulario para publicar -->
  <ion-card>
    <ion-card-header>
      <ion-avatar *ngIf="user?.photoURL">
        <img [src]="user.photoURL" />
      </ion-avatar>
      <ion-card-title>{{ user?.displayName }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-textarea
        placeholder="Escribe una noticia..."
        [(ngModel)]="content"
      ></ion-textarea>

      <ion-button expand="block" (click)="takePhoto()">
        Tomar Foto
      </ion-button>

      <ion-img
        *ngIf="photoService.photoBase64"
        [src]="'data:image/jpeg;base64,' + photoService.photoBase64"
        class="preview-img"
      ></ion-img>

      <ion-button
        expand="block"
        color="primary"
        class="ion-margin-top"
        (click)="postNews()"
      >
        Publicar Noticia
      </ion-button>
    </ion-card-content>
  </ion-card>

  <!-- Lista de publicaciones -->
  <ion-card *ngFor="let post of posts">
    <ion-card-header>
      <ion-item lines="none">
        <ion-avatar slot="start" *ngIf="post.userPhoto">
